{{- if .Values.virtualService.create -}}
apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: {{ .Release.Name }}
spec:
  {{- range $key, $value := .Values.virtualService.spec }}
  {{ $key }}:
    {{- toYaml $value | nindent 4 }}
  {{- end }}
{{- end }}