{{- if .Values.virtualService.create -}}
apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: {{ .Release.Name }}
spec:
  {{- toYaml .Values.virtualService.spec | nindent 2 }}
{{- end }}