name: publish-chart

on:
  push:
    branches:
      - main
      - rc
      - dev
      - feature/*
    # paths:
    #   - 'ms-base-chart/**'

env:
  IS_RELEASE: ${{ github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main' }}
  IS_RC: ${{ github.ref == 'refs/heads/rc' }}
  IS_BETA: ${{ github.ref == 'refs/heads/dev' }}
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
  

permissions:
  contents: write
  packages: write
  repository-projects: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: SemVer 
        id: git-semver
        uses: codedesignplus/semver-git-version@v0.1.10
        with:
          folder: ${{github.workspace}}
          release-branch: 'main'
          release-candidate-branch: 'rc'
          beta-branch: 'dev'
          major-identifier: 'breaking'
          minor-identifier: 'feat' 
          prefix: 'v'
          dir-affected: ./
          previous-version: true
          new-version: true

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: '3.12.0' 

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Actualizar Chart.yaml
        run: |
            sed -i "s/^version:.*/version: ${{ steps.git-semver.outputs.new-version-prefix }}/" ${{github.workspace}}/charts/ms-base-chart/Chart.yaml

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

          
      - name: Push tag
        id: push_tag
        if: env.IS_RELEASE == 'true' || env.IS_RC == 'true' || env.IS_BETA == 'true'
        uses: mathieudutour/github-tag-action@v6.1
        with:
          custom_tag: ${{ steps.git-semver.outputs.new-version }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Changelog
        if: env.IS_RELEASE == 'true' || env.IS_RC == 'true'
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v4
        with:
          configuration: "${{ github.workspace }}/.github/settings/configuration.json"          
          fromTag: ${{ steps.git-semver.outputs.previous-version-prefix }}
          toTag: ${{ steps.git-semver.outputs.new-version-prefix }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Create GitHub Release
        if: env.IS_RELEASE == 'true' || env.IS_RC == 'true'
        uses: mikepenz/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ steps.git-semver.outputs.new-version-prefix }}
          name: "CodeDesignPlus.Net.Sdk@${{ steps.git-semver.outputs.new-version-prefix }}"
          body: ${{ steps.build_changelog.outputs.changelog }}
          prerelease: ${{ contains(github.ref, 'rc') || contains(github.ref, 'dev') }}
          